{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Share a post{% endblock %}
{% block content %}

<div class="bg-gray-200 my-24    p-4 rounded-lg">
{% if sent %}
<h1>E-mail successfully sent</h1>
<p>
"{{ post.title }}" was successfully sent to {{ form.cleaned_
data.to }}.
</p>
{% else %}
<h1>Share "{{ post.title }}" by e-mail</h1>
<form method="post">
{{ form|crispy }}
{% csrf_token %}
<input  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 my-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Send e-mail">
</form>
{% endif %}
</div>
{% endblock %}